# Session
SESSION_SECRET='<a long, cryptographically random string>'

# Mail
MAIL_HOST='<mail.example.com>'
MAIL_PORT='<usually port 465>'
MAIL_USERNAME='<username>'
MAIL_PASSWORD='<password>'
MAIL_SENDER_NAME='"Vidijo" <vidijo@ntnm-bib.de>'

# Institution
INSTITUTION_NAME='<My Library>'

# URI of the hosted API
API_URI_HOSTED='<https://vidijo.org/api>'
