<div class="g_content">
  <section>
    <div class="g_section-header">
      <h1>Add Journals</h1>
      <p>Search journals in DOAJ or import your list of journals</p>
      <!--
        <p>
          Search Journals to add to
          <i>{{ category.title }}</i> or import your journals list
        </p>
      -->
    </div>
  </section>

  <section *ngIf="!journalsListFile">
    <div class="g_section-content">
      <div>
        <input
          class="g_dynamic-shadow search-input"
          placeholder="Search journals to add"
          autofocus
          [formControl]="searchFormControl"
        />
      </div>
    </div>
  </section>
  <section *ngIf="noSearchResults"></section>

  <section *ngIf="journalResultsInDOAJ.length">
    <div class="g_section-header">
      <h2>Not Installed</h2>
    </div>
    <div class="g_section-content">
      <app-journals-list
        [journals]="journalResultsInDOAJ"
        [showInstallButton]="true"
      >
      </app-journals-list>
    </div>
  </section>

  <section *ngIf="journalResultsInVidijo.length">
    <div class="g_section-header">
      <h2>Installed</h2>
    </div>
    <div class="g_section-content">
      <app-journals-list
        [journals]="journalResultsInVidijo"
        [showAddButton]="false"
      >
      </app-journals-list>
    </div>
  </section>

  <section *ngIf="!searchValue.length">
    <div class="g_section-content">
      <ngx-dropzone
        [multiple]="false"
        (change)="onSelect($event)"
        accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
      >
        <ngx-dropzone-label
          >Upload your list of journals (.xlsx)</ngx-dropzone-label
        >
        <ngx-dropzone-preview
          [removable]="true"
          (removed)="onRemove()"
          *ngIf="journalsListFile"
        >
          <ngx-dropzone-label>{{ journalsListFile.name }}</ngx-dropzone-label>
        </ngx-dropzone-preview>
      </ngx-dropzone>
      <!-- Example file-->
      <div class="xlsx-actions">
        <button mat-icon-button class="g_button" (click)="openHelpDialog()">
          <mat-icon>help</mat-icon>
        </button>
        <button
          mat-button
          class="g_button"
          color="accent"
          (click)="showUploadHistory()"
        >
          <mat-icon>download</mat-icon>&nbsp;Show Uploaded Files
        </button>
      </div>
      <!-- File info -->
      <div *ngIf="info">
        <p>
          This file contains
          <span>{{ info.journalsOnList }}</span> journals.
          <span>{{ info.journalsToAdd }}</span> of them are new and will be
          added.
        </p>
      </div>
    </div>
    <div class="g_section-action-row">
      <button
        mat-button
        class="g_rounded-button"
        [disabled]="!info"
        (click)="importJournalsList()"
      >
        Import Journals
      </button>
    </div>
  </section>
</div>
