.search-input {
    align-self: center;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    outline: none;
    border: none;
    font-size: 120%;
    box-sizing: border-box;
    -webkit-appearance: none;
    background: rgb(250, 250, 250);
    color: #37474f;
  }
  