.container {
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    border: var(--font-color) dotted;
    border-radius: 5px;
}

.add-journal-button {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: var(--font-color);
    cursor: pointer;
}

.add-journal-icon {
    transform: scale(2);
    vertical-align: middle;
    color: var(--background-color);
}

.journal-background-fill {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: stretch !important;
    align-items: stretch !important;
    filter: blur(20px) saturate(180%);
}

.fill-cover {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: stretch !important;
    justify-items: stretch !important;
    align-items: stretch !important;
    align-content: stretch !important;
}

.info-box {
    width: 100%;
    height: 15%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    text-align: left;
}
