<div class="g_content">
  <section>
    <div class="g_section-header">
      <h1 *ngIf="!success">I forgot my password</h1>
      <p *ngIf="!success">
        Please enter your email below so that we can send you a link to reset
        your password.
      </p>
      <h1 *ngIf="success">Reset mail sent</h1>
      <p *ngIf="success">
        You can close this page now and follow the instructions in the mail we
        sent you.
      </p>
    </div>
  </section>
  <section>
    <form [formGroup]="form" (ngSubmit)="submitForm()" [hidden]="success">
      <div class="g_section-content">
        <mat-form-field>
          <input
            matInput
            placeholder="Email"
            formControlName="email"
            type="email"
          />
          <mat-error *ngIf="email.touched && email.invalid">
            Please enter a valid email address
          </mat-error>
        </mat-form-field>
      </div>
      <div class="g_section-action-row">
        <button
          mat-raised-button
          type="submit"
          class="g_rounded-button"
          color="primary"
          [disabled]="form.invalid"
        >
          Reset Password
        </button>
      </div>
    </form>
  </section>
</div>
