<div class="cover" *ngIf="journal">
  <!-- Image Cover -->
  <div *ngIf="!triedLoadingCover || coverLoadedSuccessfully">
    <img
      class="background-fill"
      [src]="journalCoverUrl"
      (load)="handleCoverLoaded()"
      (error)="handleCoverError()"
    />
    <img
      class="cover-image"
      [src]="journalCoverUrl"
      alt="{{ journal.title }} Cover"
    />
  </div>

  <!-- Generated Cover -->
  <div
    *ngIf="
      journal.useGeneratedCover ||
      !triedLoadingCover ||
      (triedLoadingCover && !coverLoadedSuccessfully)
    "
    class="generated-cover-container"
    #generatedCoverContainer
  >
    <div
      class="background-fill"
      [ngStyle]="{
        background:
          'linear-gradient(90deg, ' +
          colors.gradientStart +
          ' 0%, ' +
          colors.gradientEnd +
          ' 100%)'
      }"
    ></div>
    <div
      class="generated-title-container"
      [ngStyle]="{ background: colors.titleContainer }"
    >
      <div
        class="cover-title-generated"
        [ngStyle]="{ color: colors.title, 'font-size': titleFontSize + 'px' }"
        *ngIf="titleFontSize > 5"
      >
        {{ journal.title }}
      </div>
    </div>
    <div
      class="cover generated-cover-image"
      [ngStyle]="{
        background:
          'linear-gradient(90deg, ' +
          colors.gradientStart +
          ' 0%, ' +
          colors.gradientEnd +
          ' 100%)'
      }"
    ></div>
  </div>
</div>
