<div class="g_content">
  <section>
    <div class="g_section-header">
      <h1>Create Account</h1>
      <p>
        An account at Vidijo makes it possible for you to save your favorite journals and articles.
      </p>
    </div>
  </section>

  <section>
    <div class="g_section-content">
      <p>
        If you already have an account, you can log in here.
      </p>
      <div class="g_section-action-row">
        <button mat-button color="primary" class="g_rounded-button" (click)="openLogin()">
          Login
        </button>
      </div>
    </div>
  </section>

  <section *ngIf="registerError">
    <div class="g_section-content">
      <div class="register-error">
        <p>{{ registerErrorText }}</p>
      </div>
    </div>
  </section>

  <section>
    <form [formGroup]="form">
      <div class="g_section-content">
        <mat-form-field>
          <input matInput placeholder="First Name *" formControlName="firstName">
          <mat-error>
            {{ getFirstNameErrorMessage() }}
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Last Name" formControlName="lastName">
          <mat-error>
            {{ getLastNameErrorMessage() }}
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Email Address *" formControlName="username">
          <mat-label>
            <mat-icon>person</mat-icon>
            <span>&nbsp; Email Address *</span>
          </mat-label>
          <mat-error>
            {{ getUsernameErrorMessage() }}
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Password *" [type]="registerPasswordVisible ? 'text' : 'password'"
            formControlName="password">
          <mat-label>
            <mat-icon>lock</mat-icon>
            <span>&nbsp; Password *</span>
          </mat-label>
          <mat-error>
            {{ getPasswordErrorMessage() }}
          </mat-error>
          <button mat-icon-button type="button" matSuffix tabindex="-1"
            (click)="registerPasswordVisible = !registerPasswordVisible">
            <mat-icon>{{ registerPasswordVisible ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Retype Password *" [type]="registerRetypedPasswordVisible ? 'text' : 'password'"
            formControlName="retypedPassword" [errorStateMatcher]="retypedPasswordErrorMatcher">
          <mat-error>
            Passwords do not match
          </mat-error>
          <button mat-icon-button type="button" matSuffix tabindex="-1"
            (click)="registerRetypedPasswordVisible = !registerRetypedPasswordVisible">
            <mat-icon>{{ registerRetypedPasswordVisible ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div class="g_section-action-row">
        <button mat-raised-button color="accent" class="g_rounded-button" type="submit" (click)="register()"
          [disabled]="false">
          Create Account
        </button>
      </div>
    </form>
  </section>
</div>