<div class="g_content">
  <section>
    <div class="g_section-header">
      <h1>Account</h1>
      <p>
        An account at Vidijo makes it possible for you to save your favorite
        journals and articles.
      </p>
    </div>
  </section>

  <section>
    <div class="g_section-content">
      <p>If you already have an account, you can log in here.</p>
      <div class="g_section-action-row">
        <button
          mat-button
          color="primary"
          class="g_rounded-button"
          (click)="openLogin()"
        >
          Login
        </button>
      </div>
    </div>
  </section>

  <section *ngIf="registerError">
    <div class="g_section-content">
      <div class="register-error">
        <span>{{ registerErrorText }}</span>
      </div>
    </div>
  </section>

  <section>
    <form [formGroup]="form" (ngSubmit)="register()">
      <div class="g_section-content">
        <mat-form-field>
          <input
            matInput
            placeholder="First name"
            formControlName="firstName"
            type="text"
            autocomplete="given-name"
          />
          <mat-error *ngIf="firstName.touched && firstName.invalid">
            {{ firstNameError }}
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input
            matInput
            placeholder="Last name (optional)"
            formControlName="lastName"
            type="text"
            autocomplete="family-name"
          />
          <mat-error *ngIf="lastName.touched && lastName.invalid">
            {{ lastNameError }}
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input
            matInput
            placeholder="Email address"
            formControlName="username"
            type="email"
            autocomplete="email"
          />
          <mat-error *ngIf="username.touched && username.invalid">
            {{ usernameError }}
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input
            matInput
            placeholder="Password"
            [type]="registerPasswordVisible ? 'text' : 'password'"
            formControlName="password"
            autocomplete="new-password"
          />
          <mat-error *ngIf="password.touched && password.invalid">
            {{ passwordError }}
          </mat-error>
          <button
            mat-icon-button
            type="button"
            matSuffix
            tabindex="-1"
            (click)="registerPasswordVisible = !registerPasswordVisible"
          >
            <mat-icon>{{
              registerPasswordVisible ? "visibility_off" : "visibility"
            }}</mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field>
          <input
            matInput
            placeholder="Confirm password"
            [type]="registerRetypedPasswordVisible ? 'text' : 'password'"
            formControlName="retypedPassword"
            autocomplete="new-password"
          />
          <mat-error
            *ngIf="retypedPassword.touched && retypedPassword.invalid"
            >{{ retypedPasswordError }}</mat-error
          >
          <button
            mat-icon-button
            type="button"
            matSuffix
            tabindex="-1"
            (click)="
              registerRetypedPasswordVisible = !registerRetypedPasswordVisible
            "
          >
            <mat-icon>{{
              registerRetypedPasswordVisible ? "visibility_off" : "visibility"
            }}</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div class="g_section-action-row">
        <button
          mat-raised-button
          color="accent"
          class="g_rounded-button"
          type="submit"
          [disabled]="form.invalid"
        >
          Create Account
        </button>
      </div>
    </form>
  </section>
</div>
