<div class="g_content">
  <section>
    <div class="g_section-header">
      <h1>Login</h1>
    </div>
  </section>

  <section *ngIf="loginError">
    <div class="g_section-content">
      <div class="login-error">
        <p>{{ loginErrorText }}</p>
      </div>
    </div>
  </section>

  <section>
    <form [formGroup]="form">
      <div class="g_section-content">
        <mat-form-field>
          <input
            matInput
            placeholder="Email Address"
            autofocus
            formControlName="username"
          />
          <mat-label>
            <mat-icon>person</mat-icon>
            <span>&nbsp; Email Address</span>
          </mat-label>
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            placeholder="Password"
            [type]="loginPasswordVisible ? 'text' : 'password'"
            formControlName="password"
          />
          <mat-label>
            <mat-icon>lock</mat-icon>
            <span>&nbsp; Password</span>
          </mat-label>
          <button
            mat-icon-button
            matSuffix
            tabindex="-1"
            (click)="loginPasswordVisible = !loginPasswordVisible"
          >
            <mat-icon>{{
              loginPasswordVisible ? "visibility_off" : "visibility"
            }}</mat-icon>
          </button>
        </mat-form-field>
        <button mat-button color="accent" (click)="openPasswordResetRequest()">
          I forgot my password
        </button>
      </div>

      <div class="g_section-action-row">
        <button
          mat-raised-button
          color="accent"
          class="g_rounded-button"
          type="submit"
          (click)="login()"
        >
          Login
        </button>
      </div>
    </form>
  </section>
</div>
