<div class="g_content">
  <section>
    <div class="g_section-header">
      <h1>Login</h1>
    </div>
  </section>

  <section *ngIf="loginError">
    <div class="g_section-content">
      <div class="login-error">
        <span>{{ loginErrorText }}</span>
      </div>
    </div>
  </section>

  <section>
    <form [formGroup]="form" (ngSubmit)="login()">
      <div class="g_section-content">
        <mat-form-field>
          <input
            matInput
            placeholder="Email address"
            autofocus
            formControlName="username"
            type="email"
          />
          <mat-error *ngIf="username.touched && username.invalid"
            >Please enter a valid email address</mat-error
          >
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            placeholder="Password"
            [type]="loginPasswordVisible ? 'text' : 'password'"
            formControlName="password"
          />
          <button
            mat-icon-button
            matSuffix
            tabindex="-1"
            (click)="loginPasswordVisible = !loginPasswordVisible"
          >
            <mat-icon>{{
              loginPasswordVisible ? "visibility_off" : "visibility"
            }}</mat-icon>
          </button>
          <mat-error *ngIf="password.touched && password.invalid"
            >Please enter your password</mat-error
          >
        </mat-form-field>
        <button mat-button color="accent" (click)="openPasswordResetRequest()">
          I forgot my password
        </button>
      </div>

      <div class="g_section-action-row">
        <button
          mat-raised-button
          color="accent"
          class="g_rounded-button"
          type="submit"
          [disabled]="form.invalid"
        >
          Login
        </button>
      </div>
    </form>
  </section>
</div>
