<div class="g_content">
  <section>
    <div class="g_section-header">
      <h1>First Steps</h1>
    </div>
  </section>

  <section>
    <div class="g_section-header">
      <div class="onboarding-icon-container">
        <mat-icon class="onboarding-icon">favorite</mat-icon>
      </div>
    </div>
    <div class="g_section-content">
      <p>
        Open a journal and click the button above to add it to your favorites. Your favorite journals will be displayed
        on your home page.
      </p>
    </div>
  </section>

  <section>
    <div class="g_section-header">
      <div class="onboarding-icon-container">
        <mat-icon class="onboarding-icon">playlist_add</mat-icon>
      </div>
    </div>
    <div class="g_section-content">
      <p>
        Open an article and click the button above to add it to your reading list. Your reading list will also be displayed
        on your home page.
      </p>
    </div>
  </section>

  <section>
    <div class="g_section-action-row">
      <button mat-button class="g_rounded-button" (click)="openDiscover()">
        Start browsing
      </button>
    </div>
  </section>
</div>