<div class="g_content">
  <section>
    <div class="g_section-header">
      <h1 *ngIf="!success">Choose a new password</h1>
      <p *ngIf="!success">Enter a new password below</p>
      <h1 *ngIf="success">Password changed</h1>
      <p *ngIf="success">Your password was successfully changed</p>
    </div>
  </section>
  <section *ngIf="!success">
    <form [formGroup]="form" (ngSubmit)="resetPassword()">
      <div class="g_section-content">
        <mat-form-field hintLabel="10 - 128 characters">
          <input
            matInput
            type="password"
            placeholder="Enter a new password"
            formControlName="newPassword"
            autocomplete="new-password"
          />
          <mat-error
            *ngIf="
              newPassword.touched &&
              newPassword.invalid &&
              newPassword.value.length
            "
          >
            Please enter a valid password
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            type="password"
            placeholder="Confirm new password"
            formControlName="confirmNewPassword"
            autocomplete="new-password"
          />
          <mat-error
            *ngIf="
              confirmNewPassword.touched &&
              confirmNewPassword.invalid &&
              newPassword.value.length
            "
          >
            Passwords don't match
          </mat-error>
        </mat-form-field>
      </div>
      <div class="g_section-action-row">
        <button
          mat-raised-button
          type="submit"
          color="primary"
          class="g_rounded-button"
          [disabled]="form.invalid"
        >
          Save new password
        </button>
      </div>
    </form>
  </section>
  <section *ngIf="success">
    <div class="g_section-action-row">
      <button
        mat-raised-button
        color="primary"
        class="g_rounded-button"
        (click)="openLogin()"
      >
        Login
      </button>
    </div>
  </section>
</div>
