.open-access-logo {
  max-height: 60px;
  width: auto;
  margin-right: 15px;
}

.open-access-information {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.markdown-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;

  color: var(--font-color);
}

.institutions-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
@media (min-width: 1000px) {
  .institutions-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}

.institution {
  display: grid;
  grid-template-columns: min(200px, 40%) auto;
  gap: 20px;

  img {
    box-sizing: border-box;
    background: #fafafa;
    object-fit: cover;
    width: 100%;
    max-height: 200px;
    padding: 15px;
    border-radius: 5px;
  }
}

.authors-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

@media (min-width: 700px) {
  .authors-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}

@media (min-width: 1000px) {
  .authors-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
}

.author {
  display: grid;
  grid-template-columns: 1f;
  gap: 5px;

  h3 {
    color: var(--font-color);
  }
  p {
    color: var(--font-color-lighter);
  }
}
