<div class="g_content">
  <section>
    <div class="g_section-header">
      <h1>About Vidijo</h1>
    </div>
  </section>

  <!-- Open Access Info -->
  <section>
    <div class="g_section-content">
      <div class="open-access-information">
        <img src="assets/logos/open-access.svg" class="open-access-logo" />
        <p>
          All articles contained in <em>VIDIJO</em> were published under open
          access conditions. More information on Open Access can be found at
          <a
            href="https://open-access.net/informationen-zu-open-access"
            target="_blank"
            >open-access.net</a
          >.
        </p>
      </div>
    </div>
  </section>

  <!-- Introduction -->
  <section>
    <div class="g_section-content">
      <p>
        <em>VIDIJO</em> is part of the BMBF funded project <em>visOA</em> (grant
        number 16OA060) of the INM – Leibniz-Institut für Neue Materialien
        gGmbH, department NTNM-Bibliothek.
      </p>
    </div>
  </section>

  <!-- Company Logos -->
  <section>
    <div class="g_section-content">
      <div class="g_grid">
        <mat-card *ngFor="let institution of institutions">
          <mat-card-header>
            <mat-card-title>{{ institution.title }}</mat-card-title>
          </mat-card-header>
          <img mat-card-image [src]="institution.image" />

          <mat-card-actions>
            <a
              mat-button
              color="accent"
              [href]="institution.website"
              target="_blank"
              ><mat-icon>language</mat-icon><span>&nbsp; Website</span></a
            >
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </section>

  <!-- Contact Info -->
  <section>
    <div class="g_section-header">
      <h2>Contact</h2>
    </div>
    <div class="g_section-content">
      <div class="g_grid">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Uwe Geith</mat-card-title>
            <mat-card-subtitle>Project Manager</mat-card-subtitle>
          </mat-card-header>
          <mat-card-actions>
            <a mat-button color="accent" href="mailto:uwe.geith@leibniz-inm.de">
              <mat-icon> mail </mat-icon>
              &nbsp; Email
            </a>
          </mat-card-actions>
        </mat-card>
        <mat-card>
          <mat-card-header>
            <mat-card-title>Thomas Kraß</mat-card-title>
            <mat-card-subtitle>Programming</mat-card-subtitle>
            <mat-card-subtitle
              >September 2018 - February 2021</mat-card-subtitle
            >
          </mat-card-header>
          <mat-card-actions>
            <a mat-button color="accent" href="mailto:krass@ntnm-bib.de">
              <mat-icon> mail </mat-icon>
              &nbsp; Email
            </a>
          </mat-card-actions>
        </mat-card>
        <mat-card>
          <mat-card-header>
            <mat-card-title>Lorena Isabel Jara Toledo</mat-card-title>
            <mat-card-subtitle>Programming</mat-card-subtitle>
            <mat-card-subtitle>September 2018 - May 2019</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </div>

      <p>
        <b>Responsible in terms of §5 TMG is:</b><br />
        INM – Leibniz-Institut für Neue Materialien gGmbH Campus D2 2 D-66123
        Saarbrücken
      </p>
      <p>
        <b>Authorized managing director:</b> <br />
        Scientific Director: Prof. Dr. Eduard Arzt (Chairman) <br />
        Scientific Director: Prof. Dr. Aránzazu del Campo Bécares
        <br />
        Commercial Managing Director: Günter Weber
      </p>
      <p>
        Phone: +49 (0)681 9300-0<br />
        Fax: +49 (0)681 9300-223
      </p>
      <p>
        <a href="https://www.leibniz-inm.de">www.leibniz-inm.de</a><br />
        <a href="mailto:contact@leibniz-inm.de">contact@leibniz-inm.de</a>
      </p>
    </div>
  </section>

  <section>
    <div class="g_section-header">
      <h2>Sources</h2>
    </div>
    <div class="g_section-content">
      <p>
        Journals and articles are obtained using the
        <a href="https://doaj.org/" target="_blank">DOAJ API</a>.
      </p>
      <p>
        The source for each cover image can be found in the respective journal
        under the <mat-icon>info</mat-icon> button.
      </p>
    </div>
  </section>
</div>
