<div class="g_content">
  <section>
    <div class="g_section-header">
      <h1>About Vidijo</h1>
    </div>
  </section>

  <!-- Open Access Info -->
  <section>
    <div class="g_section-content">
      <div class="open-access-information">
        <img src="assets/logos/open-access.svg" class="open-access-logo" />
        <p>
          All articles contained in <em>VIDIJO</em> were published under open
          access conditions. More information on Open Access can be found at
          <a
            href="https://open-access.net/informationen-zu-open-access"
            target="_blank"
            >open-access.net</a
          >.
        </p>
      </div>
    </div>
  </section>

  <!-- Introduction -->
  <section>
    <div class="g_section-content">
      <p>
        <em>VIDIJO</em> is part of the BMBF funded project <em>visOA</em> (grant
        number 16OA060) of the INM – Leibniz-Institut für Neue Materialien
        gGmbH, department NTNM-Bibliothek.
      </p>
    </div>
  </section>

  <!-- Company Logos -->
  <section>
    <div class="g_section-content institutions-container">
      <div class="institution" *ngFor="let institution of institutions">
        <img [src]="institution.image" [alt]="institution.title + 'logo'" />
        <div>
          <h3>{{ institution.title }}</h3>
          <a [href]="institution.website" target="_blank">{{
            institution.website
          }}</a>
        </div>
      </div>
    </div>
  </section>

  <!-- Authors -->
  <section>
    <div class="g_section-header"><h2>Authors</h2></div>
    <div class="g_section-content">
      <div class="authors-container">
        <div class="author" *ngFor="let author of authors">
          <h3>{{ author.name }}</h3>
          <p>{{ author.role }}</p>
          <p>{{ author.description }}</p>
          <a [href]="'mailto:' + author.contact" *ngIf="author.contact">Mail</a>
        </div>
      </div>
    </div>
  </section>

  <!-- Contact Info -->
  <section>
    <div class="g_section-header">
      <h2>Contact</h2>
    </div>
    <div class="g_section-content">
      <p>
        <strong>Responsible in terms of §5 TMG is:</strong><br />
        INM – Leibniz-Institut für Neue Materialien gGmbH Campus D2 2 D-66123
        Saarbrücken
      </p>
      <p>
        <strong>Authorized managing director:</strong> <br />
        Scientific Director: Prof. Dr. Eduard Arzt (Chairman) <br />
        Scientific Director: Prof. Dr. Aránzazu del Campo Bécares
        <br />
        Commercial Managing Director: Günter Weber
      </p>
      <p>
        Phone: +49 (0)681 9300-0<br />
        Fax: +49 (0)681 9300-223
      </p>
      <p>
        <a href="https://www.leibniz-inm.de">www.leibniz-inm.de</a><br />
        <a href="mailto:contact@leibniz-inm.de">contact@leibniz-inm.de</a>
      </p>
    </div>
  </section>

  <section>
    <div class="g_section-header">
      <h2>Sources</h2>
    </div>
    <div class="g_section-content">
      <p>
        Journals and articles are obtained using the
        <a href="https://doaj.org/" target="_blank">DOAJ API</a>.
      </p>
      <p>
        The source for each cover image can be found in the respective journal
        under the <mat-icon>info</mat-icon> button.
      </p>
    </div>
  </section>

  <section>
    <div class="g_section-content">
      <markdown
        src="static/privacy-policy/privacy-policy.md"
        class="markdown-container"
      ></markdown>
    </div>
  </section>
</div>
